#weddingform{
	background: #fff;
	padding: 10px;
	box-shadow: 0 0 10px grey;
	width: 95%;
	margin-left: 2%;

}
#btnsubmit{
		
		width: 40%;
		margin-left: 10%;
		height: 40px;
		border-radius: 5px;
	}
	#btnreset{
		
		width: 40%;
		height: 40px;
		border-radius: 5px;

	}
	#btnsubmit:hover{
		cursor: pointer;
		background-color: #007700;
		border-top-left-radius: 5px
		border-top-right-radius : 5px;

	}
	#btnreset:hover{
		cursor: pointer;
		background-color: #ff9b4d;
	}
	#btncheckprice{
		background-color: #00000000;
		width: 20%;
		height: 30px;
		margin-left: 25%;
		border-radius: 5px;
		cursor: pointer;
		margin-bottom: 1%;

	}